{% extends 'base.html' %}

{% block title %}


{% endblock %}

{% block content %}


<div class="container">
   <div class="border rounded p-4 m-4">

    <input type="text" value="claim">
        <p class="display-4 pl-4 ml-4">Your Cart</p>
        <hr>
       
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{user_id}}" >
            <input type="text" name="claim"><br>
            <input type="submit" name="submit" value="Claim Refund"></button>
        </form>        
</div>


{% endblock %}