{% extends 'base.html' %}

{% block title %}

Welcome Patient

{% endblock %}

{% block content %}


<ul>
<li><a href="{%url 'edit'%}">Edit</a></li>
<li><a href="{%url 'cart_name'%}">Pending Requests</a></li>
<li><a href="{%url 'show_file'%}">View Files</a></li>
</ul>
<br>
</br>
<div>
<h3> Catalog</h3>
</div>

<form method="post">
    {%csrf_token%}
    {% for field in search_form%} 
        <!-- <p> -->
            {{field.label_tag}}
            {{field}}
            {%if field.help_text%}
                <small style="color: grey;">{{field.help_text}}</small>
            {%endif%} &nbsp;&nbsp;
        <!-- </p> -->
    
        
    {%endfor%}
    {%for field in search_form%}
        {%for error in field.errors%}
                <p>
                    <small style="color: red;">{{error}}</small>
                </p>
        {%endfor%}
    {%endfor%}
    {%if search_form.non_field_errors%} 
        <div style="color: red;">
            <p>{{search_form.non_field_errors}}</p>
        </div>
    {%endif%}
    <button type="submit">Search</button>
</form>
<br><br>
{%if org_healthcare_profs|length > 0 %}

<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
  }
</style>

<table id="table">
    <tr class="header">
      <th >Organization Name</th>
      <th >Type</th>
      <th >Location</th>
      <th >Mobile</th>
      <th >Email</th>
    </tr>
    {%for user in org_healthcare_profs%}
    <tr>
        {%ifequal user.user_type 'hospital' %}
        <td><a href="{%url 'symptoms' user.pk %}">{{user.official_name}}</a></td>
        {%endifequal%}
        {%ifequal user.user_type 'pharmacy'%}
        <td><a href={%url 'userclick' user.pk%}>{{user.official_name}}</a></td>
        {%endifequal%}
        {%ifequal user.user_type 'insurance'%}
        <td><a href={%url 'userclick' user.pk%}>{{user.official_name}}</a></td>
        {%endifequal%}
        <td>{{user.user_type}}</td>
        <td>{{user.address}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.email}}</td>
      </tr>
    {%endfor%}
</table>
{%else%}
 No results found
{%endif%}

{% endblock %}