{% extends 'base.html' %}

{% block title %}

Welcome Patient

{% endblock %}

{% block content %}

<a href="{%url 'edit'%}">Edit</a>
<a href="{%url 'cart_name'%}">Cart</a>
<a href="{%url 'refund_name'%}">Claim</a>


<div class="container">
   <div class="border rounded p-4 m-4">

    <input type="text" value="claim">
        
        <hr>
       
        <form method="post" >
            {% csrf_token %}
                <input type="hidden" value="products">
                {% for product in products%}
               <li> {{product}} - {{product.pharmacy_name}} - {{product.price}}</li>
            
               <input type="text" hidden='True' name="{{product.id}}" value='{{product.id}}'>
               <input type="text" name="{{product.name}}" id="q{{forloop.counter0}}">
               {% endfor %}  

               <li>
               <input type="submit" size ='100px' name="Add" value="Add To Cart"></button>
            </li>
        </form>        
</div>
<br>
<a href="{%url 'show_file'%}">View Files</a>

<form method="post">
    {%csrf_token%}
    {% for field in search_form%} 
        <p>
            {{field.label_tag}}
            {{field}}
            {%if field.help_text%}
                <small style="color: grey;">{{field.help_text}}</small>
            {%endif%}
        </p>
    
        
    {%endfor%}
    {%for field in search_form%}
        {%for error in field.errors%}
                <p>
                    <small style="color: red;">{{error}}</small>
                </p>
        {%endfor%}
    {%endfor%}
    {%if search_form.non_field_errors%} 
        <div style="color: red;">
            <p>{{search_form.non_field_errors}}</p>
        </div>
    {%endif%}
    <button type="submit">Search</button>
</form>
<br><br>
{%if org_healthcare_profs|length > 0 %}

<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
  }
</style>

<table id="table">
    <tr class="header">
      <th >Organization Name</th>
      <th >Type</th>
      <th >Location</th>
      <th >Mobile</th>
      <th >Email</th>
    </tr>
    {%for user in org_healthcare_profs%}
    <tr>
        {%ifequal user.user_type 'hospital' %}
        <td><a href="{%url 'symptoms' user.pk %}">{{user.official_name}}</a></td>
        {%endifequal%}
        {%ifequal user.user_type 'pharmacy'%}
        <td><a href={%url 'upload_file'%}>{{user.official_name}}</a></td>
        {%endifequal%}
        <td>{{user.user_type}}</td>
        <td>{{user.address}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.email}}</td>
      </tr>
    {%endfor%}
</table>
{%else%}
 No results found
{%endif%}

{% endblock %}