{% extends 'base.html' %}

{% block title %}

Welcome!

{% endblock %}

{% block content %}

<a href="{%url 'edit'%}">Edit Profile</a>
<a href="{%url 'show_file'%}">View Files</a>

<h2>Request Details</h2>
{%if pharmacy_requests|length > 0%}
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}
</style>
    <table id="table">
        <tr class="header">
        <th >Patient Name</th>
        <!-- <th >From(Name)</th>
        <th >From(User Type)</th> -->
        
        <th >Prescription</th>
        <th>Valid Prescription</th>
        <th >Prescibed by</th>
        <th >User Type</th>
        <th >Request Payment</th>
        <th>Payment Status</th>
        </tr>
    {%for pr in pharmacy_requests%}
        <tr>
            <td>{{pr.prescription.file.user.official_name}}</td>
            
            <td><a href="{{pr.prescription.file.url}}" target="_blank">Download</a></td>
            <td>{{pr.verified}}</td>
            {%if pr.verified%}
                <td>{{pr.from_user.official_name}}</td>
                <td>{{pr.from_user.user_type}}</td>
                {%if pr.payment_details%}
                <td>Payment Already Requested</td>
                {%else%}
                <td><a href="{%url 'amount' pr.pk %}">Send Request</a></td>
                {%endif%}
                {%if pr.completed%}
                <td>Completed</td>
                {%else%}
                <td>Pending</td>
                {%endif%}
            {%else%}
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            <td>NA</td>
            {%endif%}
        </tr>

    {%endfor%}
{%else%}
You do not have any requests
{%endif%}


{%endblock%}